.wrapper{
    background-color: #1a2027;
    height: 500px;
    width: 500px;
    position: relative;
    top: 25%;
    border-radius: 2%;
}

h4{
    color: #66b2ff;
}

p{
    color: #66b2ff;
    font-weight: bold;
}

h4:hover{
    color: #66b2ff;
    opacity: 60%;
    cursor: pointer;
}


.btn{
    width: 50%;

}

.ic{
    height: 75%;
    width: 75%;
}